@font-face {

  font-family: 'Cambria Math';

  src: url('../fonts/Cambria Math.ttf');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'MuseoSansCyrl';

  src: url('../fonts/MuseoSansCyrl.otf');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'MuseoSansCyrl';

  src: url('../fonts/museo_sans_cyrl_500.ttf');

  font-weight: bold;

  font-style: normal;

}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  color: #ff4f36;
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 14px;
}

//MENU_BURGER
$color: black;

$height-icon: 20px;
$width-line: 30px;
$height-line: 2px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

.menu__burger {
  display: none;
  width: $width-line;
  height: $height-icon;
  position: relative;

  .line {
    display: block;
    background: $color;
    width: $width-line;
    height: $height-line;
    position: absolute;
    left: 0;
    border-radius: ($height-line / 2);
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;

    &.line-1 {
      top: 0;
    }
    &.line-2 {
      top: 50%;
    }
    &.line-3 {
      top: 100%;
    }
  }
  &:hover, &:focus {
    .line-1 {
      transform: translateY($height-line / 2 * -1);
      -webkit-transform: translateY($height-line / 2 * -1);
      -moz-transform: translateY($height-line / 2 * -1);
    }
    .line-3 {
      transform: translateY($height-line / 2);
      -webkit-transform: translateY($height-line / 2);
      -moz-transform: translateY($height-line / 2);
    }
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity: 0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}

//END MENU BURGER

//MOBILE MENU
.mobile__menu {
  display: none;
}

.mobile__menu-list {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  padding-left: 0;
}

.mobile__menu-el a {
  color: #2a2a2a;
  text-decoration: none;
}

.mobile__menu-el {
  padding: 10px 0;
}

//END MOBILE MENU

//HEADER
.top__news-menu {
  background: #ffe4e6;
  padding: 10px 0;
  font-family: 'MuseoSansCyrl';
}

.top__short-news {
  float: left;
  font-weight: bold;
  font-size: 14px;
}

.top__auth {
  text-align: right;
}

.auth {
  display: inline-block;
}

.top__auth p {
  display: inline-block;
  margin: 0;
}

.header__menu {
  width: 40%;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Georgia', serif;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  text-align: center;
}

.header__menu ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.header__menu ul li {
  list-style-type: none;
  position: relative;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__menu ul li:after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 30px;
  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 0;
  margin-bottom: -5px;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__menu ul li:hover {
  color: #ff4f36;
  &:after {
    background: #ff4f36;
  }
}

.header__logo {
  width: 22%;
  padding: 0 25px;
}

.header__wrap {
  display: flex;
}

.header__menu-second {
  text-align: center;
}

.logo-main__img {
  background-image: url(../images/sprite.png);
  background-position: -189px -68px;
  width: 67px;
  height: 68px;
  float: left;
}

.header__main-block {
  padding: 24px 0;
}

.logo-main__text p {
  margin: 0;
}

.logo__sub-text {
  font-family: 'MuseoSansCyrl';
  margin-left: 78px !important;
}

.logo__main-text {
  font-size: 24px;
}

@media screen and (max-width: 998px) {
  .header__menu {
    display: none;
  }
  .menu__burger {
    display: block;
    margin-right: 20px;
  }
  .header__wrap {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 780px) {
  .top__short-news {
    display: none;
  }
  .top__auth {
    text-align: center;
  }
}

@media screen and (max-width: 788px) {
  .header__logo {
    width: auto;
  }
}

//HOME

.home__banners {
  background: #ebeae5;
}

.home__main-banner {
  height: 366px;
  width: 748px;
  position: relative;
}

.home__main-banner img {
  position: absolute;
  left: -44px;
}

.text__bahher {
  width: 50%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  margin-top: -155px;
}

.title__banner-sub {
  margin: 0;
  font-size: 24px !important;
  position: absolute;
  left: 24px;
  top: 20px;
}

.home__banners {
  margin-bottom: 30px;
}

.home__banners:last-child {
  margin-bottom: 0;
}

.home__banners {
  position: relative;
}

.title__banner {
  font-size: 38px;
  font-family: "Cambria Math";
}

.sub-text__banner {
  width: 290px;
  font-size: 14px;
  color: #ff4f36;
  font-family: "Cambria Math";
  margin: 0 auto;
}

.valut__banner {
  margin: 0;
  font-family: "Cambria Math";
}

.price__banner {
  margin-top: 30px !important;
}

.banners-block__align {
  display: flex;
  justify-content: space-between;
}

.home__coll-twobanners {
  width: 362px;
}

.home__coll-twobanners .home__banners {
  height: 168px;
}

.product__pre-one {
  box-sizing: border-box;
  width: 25%;
  text-align: center;
  font-family: 'MuseoSansCyrl';
  padding: 5px;
  border: 1px solid transparent;
  margin: 20px 0;
  position: relative;
}

.product__pre-one a {
  display: block;
}

.pre__img {
  max-width: 100%;
}

.product__pre {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &:after {
    content: "";
    flex: auto;
  }
}

.product__pre-one:hover {
  border: 1px solid #ebeae5;
}

.pre__category {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  text-decoration: none;
  position: relative;
}

.pre__category:after {
  display: inline-block;
  content: "";
  height: 2px;
  width: 30px;
  background: #ff4f36;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 0;
  margin-bottom: -5px;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.pre__title {
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 20px 0;

}

.pre__sale {
  position: absolute;
  color: #ff4f36;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 15px;
}

.info__block {
  margin-top: 60px;
  background: #f1f8fa;
  font-family: Georgia;
  padding: 30px 0;
  position: relative;
}

//.info__block-secondln:before {
//  content: "";
//  display: block;
//  background: url("../images/women2.png") no-repeat;
//  width: 261px;
//  height: 424px;
//  position: absolute;
//  bottom: 0;
//}

.tit__info-block {
  font-size: 48px;
  margin: 0;
}

.info__num-impot {
  font-size: 48px;
  color: #ff4f36;
  margin-bottom: 0;
}

.info__num-sub {
  width: 200px;
  font-size: 18px;
  color: #2a2a2a;
}

.info__block-firstln, .info__block-secondln {
  display: flex;
  justify-content: space-between;
}

.info__block-secondln {
  margin-top: 60px;
}

.info__preimuchestva {
  width: 20%;
  background: white;
  height: 120px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.info__preimuchestva img {
  height: 60px;
}

.info__preimuchestva:before {
  content: "";
  display: block;
  background: url("../images/bg_cart.png") no-repeat;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
}

.info__block-div {
  width: 50%;
}

.important__text {
  color: #ff4f36;
  display: inline-block;
}

.info__block-right {
  font-size: 14px;
  line-height: 1.5;
  color: #2a2a2a;
}

.info__num {
  width: 50%;
  float: right;
}

.info__preimuchestva-text {
  width: 50%;
  position: relative;
}

.info__preimuchestva-text:before {
  content: "";
  display: inline-block;
  background: url("../images/check.png") no-repeat center center;
  height: 10px;
  width: 10px;
  padding: 1px;
  border: 1px solid #ff4f36;
  border-radius: 3px;
  margin: 0 10px;
  position: absolute;
  left: 0;
  margin-left: -25px;
  top: 50%;
  margin-top: -5px;
}

//FOOTER

.bottom__content {
  margin-top: 20px;
}

.bottom__content-wrap {
  display: flex;
}

.contact__form {
  width: 75%;
  height: 185px;
  background: #ebeae5;
  margin-right: 30px;
  display: flex;
}

.men__photo {
  width: 30%;
  height: 100%;
  position: relative;
}

.men__photo:before {
  content: "";
  display: block;
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 189px;
  height: 216px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -94px;
}

.form__text {
  width: 70%;
}

.form__input {
  display: flex;
}

.widget__vk {
  width: 25%;
}

.footer__logo-img {
  background-image: url(../images/sprite.png);
  background-position: -189px 0px;
  width: 67px;
  height: 68px;
  float: left;
}

.form__title {
  font-size: 28px;
  font-family: 'MuseoSansCyrl';
  margin-bottom: 15px;
}

.input-tel {
  height: 45px;
  border: none;
  border-radius: 4px;
  width: 60%;
  outline: none;
  padding: 0 15px;
  font-family: 'MuseoSansCyrl';
}

.btn__send {
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 14px 25px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl';
  font-weight: bold;
  font-size: 14px;
  background: #ff8170; /* Old browsers */
  background: -moz-linear-gradient(top, #ff8170 0%, #ff523a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff8170 0%, #ff523a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff8170 0%, #ff523a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8170', endColorstr='#ff523a', GradientType=0); /* IE6-9 */
  color: #ffff;
}

.btn__send:hover {
  background: #ff523a; /* Old browsers */
  background: -moz-linear-gradient(top, #ff523a 0%, #ff8170 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff523a 0%, #ff8170 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff523a 0%, #ff8170 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff523a', endColorstr='#ff8170', GradientType=0); /* IE6-9 */
}

.firs-line__footer {
  display: flex;
  padding: 32px 0;
}

.footer__logo, .footer__social-link {
  width: 25%;
}

.footer__menu {
  width: 50%;
  font-family: 'MuseoSansCyrl';

}

.footer__menu-list {
  list-style-type: none;
  height: 72px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.footer__menu-list li {
  margin-bottom: 8px;
  font-size: 14px;
}

.title__footer {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: 'MuseoSansCyrl';
}

.footer__socia-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.social__icon {
  display: inline-block;
  height: 31px;
  width: 31px;
  margin-right: 5px;
}

.social__icon:hover {
  opacity: .7;
}

.vk__icon {
  background-image: url(../images/sprite.png);
  background-position: -293px -68px;
  width: 31px;
  height: 31px;
}

.fb__icon {
  background-image: url(../images/sprite.png);
  background-position: -256px -68px;
  width: 31px;
  height: 31px;
}

.inst__icon {
  background-image: url(../images/sprite.png);
  background-position: -330px -68px;
  width: 31px;
  height: 31px;
}

.footer__line {
  width: 100%;
  height: 1px;
  background: #ebeae5;
}

.footer__corp {
  margin: 15px 0;
  width: 100%;
  text-align: center;
  font-family: 'MuseoSansCyrl';
  font-size: 14px;
}

//CONTACTS

.breadcrumbs {
  list-style-type: none;
  padding-left: 0;
  color: #ff4f36;
  font-size: 14px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs li:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 5px;
  background: url("../images/breadcrumbs.png") no-repeat;
  margin: 0 5px;
}

.breadcrumbs-item {
  color: #ff4f36;
  text-decoration: none;
}

.breadcrumbs li:last-child .breadcrumbs-item {
  color: #2a2a2a;
}

.breadcrumbs li:last-child {
  &:after {
    display: none;
  }
}

.tit__page {
  font-family: 'Cambria Math';
  padding-bottom: 45px;
}

.tit__page-h1 {
  font-weight: 100;
}

.contact__page {
  font-family: 'Cambria Math';
  display: flex;
  margin-bottom: 90px;
  justify-content: space-between;
  color: #979797;
}

.contact__info {
  width: 40%;
  position: relative;
}

.contact__map {
  width: 50%;
  height: 350px;
}

#map {
  width: 100%;
  height: 100%;
}

.tit__page-h1 {
  margin: 0;
}

.contact__text {
  margin: 0;
}

.contact__info-b {
  font-family: Georgia;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  color: #2a2a2a;
  margin-bottom: 8px;
}

.contact__info-adr {
  font-family: 'Cambria Math';
  font-size: 18px;
  color: #2a2a2a;
  margin-top: 35px;
  margin-bottom: 50px;
}

.contact__info-phone {
  font-size: 36px;
  display: inline-block;
  font-family: 'Cambria Math';
  color: #2a2a2a;
  text-decoration: none;
}

.contact__info-phonetext {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Cambria Math';
  font-size: 18px;
}

.contact__info {
  background: url("../images/contact__bg.png") no-repeat right;
}

.contact__map {
  position: relative;
}

.contact__map:after {
  content: "";
  display: block;
  position: absolute;
  width: 73px;
  height: 63px;
  background: url("../images/contact__list.png") no-repeat;
  right: -35px;
  top: 10%;
}

.contact__info:after {
  content: "";
  display: block;
  position: absolute;
  width: 73px;
  height: 93px;
  background: url("../images/vetka.png") no-repeat;
  bottom: 30%;
  right: 10%;
}

//CATALOG
.catalog__el-list li{
  margin-bottom: 0 !important;
  padding: 10px 0;
  border-bottom: 1px dotted #83a8ba;
}
.catalog__el-list li:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.catalog__el{
  font-family: Georgia;
  font-size: 14px;
  color: #2a2a2a;
  text-decoration: none;
}
#categoty__f{
  margin-right: 6px;
}

.catalog__el:before{
  content: '';
  display: none;
  border: 7px solid transparent;
  border-left: 7px solid #83a8ba;
}

.catalog__el-active:before{
  content: '';
  display: inline-block;
  border: 7px solid transparent;
  border-left: 7px solid #83a8ba;
}

.catalog__el:hover{
  &:before{
    display: inline-block;
  }
}

.catalog__category{
  margin-bottom: 20px;
}
.catalog__category-left{
  width: 25%;
}
.adaptive_filter{
  font-family: "Cambria Math";
  padding: 7px;
  display: none;
  background: #eaf3f8;
  margin-bottom: 10px;
  border-radius: 4px;
}
.adaptive_filter:active{
  background: #c7d0d5;
}

.adaptive_filter a{
  color: #2a2a2a;
}

.adaptive_filter:before{
  background: url("../images/filter.png")no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.category_adaptive:before{
  background: url("../images/burger_menu-catalog.png")no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

.catalog__page {
  display: flex;
  align-items: flex-start;
}

.filter__category {
  background: #eaf3f8;
  padding: 25px;
  box-sizing: border-box;
}

.catalog__product {
  width: 75%;
  margin-top: -20px;
  margin-left: 30px;
}

.catalog__product .product__pre-one {
  width: 33%;
}

.name__filter {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia;
  margin-top: 0;
}

.filter__category-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.filter__el-list li {
  margin-bottom: 20px;
}

.filter__el {
  font-size: 14px;
  font-family: Georgia;
  color: #2a2a2a;
}

.filter__el:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #83a8ba;
  border-radius: 3px;
  margin-right: 10px;
}

.filter__el-list {
  list-style-type: none;
  padding-left: 0;
}

.filter__el-active:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #83a8ba;
  border-radius: 3px;
  margin-right: 10px;
  background: url("../images/check2.png") no-repeat center center;
}

//PRODUCT
.product__wrap {
  display: flex;
}

.product__left {
  width: 50%;
  img {
    max-width: 100%;
  }
}

.product__description {
  font-family: Georgia;
  font-size: 14px;
  color: #2a2a2a;
  line-height: 1.5;
}

.product__description p {
  margin-bottom: 36px;
}

.product__right {
  width: 50%;
}

.product__characteristics-list {
  list-style-type: none;
  padding-left: 0;
}

.product__characteristics-list li {
  display: inline-block;
  line-height: 1.5;
}

.characteristics__value {
  display: inline-block;
  margin: 0;
}

.characteristics__atr:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  vertical-align: middle;
  background: #2a2a2a;
  margin: 0 5px;
}

.product__color-list {
  list-style-type: none;
  padding-left: 0;
}

.product__color-list li {
  display: inline-block;
}

.color__cir {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.product__price {
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 48px;
  font-family: "Cambria Math";
  display: inline-block;
  margin: 0;
}

.buy {
  text-decoration: none;
  font-family: Georgia;
  font-size: 18px;
  color: #f1f8fa;
  background: #ff4f36;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  transition: .3s;
}
.buy:hover {
  box-shadow: 0 3px 2px -2px gray;
}
.buy:active {
  background: rgba(255, 79, 54, 0.81);
}

.name__category-big {
  font-size: 18px;
}

.block-product__img {
  position: relative;
}

//.info__block-left:before {
//  content: "";
//  display: block;
//  position: absolute;
//  background: url("../images/rose2.png") no-repeat bottom;
//  background-size: contain;
//  width: 50%;
//  height: 240px;
//  bottom: 0;
//  left: 0;
//  z-index: -1;
//}

.info__block-left {
  z-index: 2;
}

.info__block-product {
  padding-bottom: 0;
}

//FOOTER ADAPTIVE
@media screen and (max-width: 850px) {
  .firs-line__footer {
    position: relative;
    justify-content: space-between;
    padding: 32px 0 50px;
  }
  .footer__social-link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -54px;
  }
  .footer__menu {
    width: 60%;
  }
  .footer__logo {
    width: 35%;
    margin-left: 15px;
  }
  .title__social {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .title__footer-menu {
    display: none;
  }
  .firs-line__footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    display: inline-block;
    width: auto;
    margin: 0 auto;
  }
  .footer__menu {
    text-align: center;
    margin: 20px auto;
  }
  .footer__menu-list {
    height: 100%;
  }

}

@media screen and (max-width: 494px) {
  .bottom__content-wrap {
    display: block;
  }
}

//ADAPTIVE BANNERS
@media screen and (max-width: 1140px) {
  .banners-block__align {
    display: block;
  }

  .home__main-banner {
    width: 90%;
    margin: 0 auto;
  }
  .home__coll-twobanners {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 35px auto 0;
  }

  .home__coll-twobanners .home__banners {
    height: 100%;
    width: 46%;

  }

  .home__coll-twobanners img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .home__coll-twobanners {
    display: block;
  }
  .home__coll-twobanners .home__banners {
    width: 100%;
  }
}

//ADAPTIVE CART
@media screen and (max-width: 1100px) {
  .product__pre-one {
    width: 33%;
  }
}

@media screen and (max-width: 750px) {
  .product__pre-one {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .product__pre-one {
    width: 100%;
  }
}

//ADAPTIVE PRE-FOOTER
@media screen and (max-width: 600px) {
  .bottom__content-wrap {
    display: block;
  }
  .contact__form {
    width: 100%;
    margin-right: 0;
  }
  .widget__vk {
    width: 90%;
    margin: 30px auto 0;
  }
}

//ADAPTIVE PRODUCT
@media screen and (max-width: 500px) {
  .product__wrap {
    flex-direction: column;
  }
  .men__photo {
    display: none;
  }
  .contact__form {
    height: auto;
  }
  .form__title {
    font-size: 20px;
    text-align: center;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .form__text {
    width: 100%;
    padding: 0 20px;
  }
  .product__left, .product__right {
    width: 100%;
  }
}

//ADAPTIVE ROSE
@media screen and (max-width: 650px) {
  .info__block-firstln {
    flex-direction: column;
  }
  .info__block-left {
    position: relative;
  }
  .info__block-div {
    width: 100%;
  }
  .contact__page {
    flex-direction: column-reverse;
  }
  .contact__info, .contact__map {
    width: 100%;
  }
  .contact__map:after {
    display: none;
  }
  .contact__page{
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 375px) {
  .info__block {
    padding-top: 15px;
  }
  .tit__info-block {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  .info__block-left:before {
    width: 62%;
  }
  .info__num-impot {
    font-size: 37px;
    margin-top: 0;
  }
  .info__num-sub {
    width: auto;
    font-size: 13px;
  }
  .tit__page-h1 {
    font-size: 25px;
  }
  .header__logo {
    padding-right: 9px;
  }
  .breadcrumbs-item {
    font-size: 13px;
  }
  .product__characteristics-list li {
    display: block;
  }
  .product__price {
    margin: 20px 0;
    width: 100%;
  }
  .price {
    font-size: 30px;
  }
  .form__input {
    flex-direction: column;
  }
  .input-tel {
    width: 100%;
    box-sizing: border-box;
  }
  .btn__send {
    margin-left: 0;
    margin-top: 20px;
  }
  .pre__sale {
    margin-left: 50px;
  }
}

@media screen and (max-width: 400px) {
  .contact__info:after {
    display: none;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px){
  .contact__form{
    height: auto;
  }
  .form__input{
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px){
  .men__photo{
    display: none;
  }
  .form__text{
    width: 100%;
  }
  .form__title{
    text-align: center;
    font-size: 18px;
  }
  .form__input{
    flex-direction: column;
    align-items: center;
  }
  .input-tel{
    width: 85%;
  }
  .btn__send{
    margin-top: 10px;
  }
}
@media screen and (max-width: 850px) {
.catalog__product .product__pre-one {
  width: 50%;
}
  .catalog__page{
    flex-direction: column;
  }
  .catalog__product{
    width: 100%;
    margin-left: 0;
  }
  .adaptive_filter{
    display: inline-block;
  }
  .filter__category{
    display: none;
  }
  .catalog__category-left{
    width: 100%;
  }
  .tit__page{
    padding-bottom: 20px;
  }
   .active_filter-catalog{
      display: block !important;
    }

}
@media screen and (max-width: 500px) {
.catalog__product .product__pre-one{
  width: 100%;
}
}
@media screen and (max-width: 550px) {
  .text__bahher{
    width: 100%;
  }
  .home__main-banner {
    overflow: hidden;
    img{
      opacity: .2;
    }
  }
  .title__banner{
    font-size: 35px;
  }
  .info__block-secondln{
    flex-wrap: wrap;
  }
  .info__preimuchestva{
    width: 90%;
    margin-bottom: 10px;
    justify-content: space-around;
  }
}
.left__info-main{
  display: flex;
}

.wrap__info-img{
  position: relative;
  width: 50%;
}

.cart__icon{
  position: fixed;
  right: 0;
  top: 50%;
  width: 50px;
  height: 60px;
  z-index: 100;
  border-radius: 5px 0 0 5px;
  background: #ff4f36;
  color: white;
  text-align: center;
  cursor: pointer;
}

.cart__icon:hover{
  background: rgba(255, 79, 54, 0.78);
}

.cart__icon-img{
  width: 25px;
  display: block;
  margin: 8px auto 0;
}

.cart__quantity{
  background: #c14635;
  display: inline-block;
  border-radius: 50%;
  padding: 0 5px;
  margin: 5px 0 0;
}

.page-content{
width: 1140px;
margin: 0 auto;
}

.bx-newsdetail-custom{
  display: flex;
}

.sidebar__news{
  width: 20%;
  margin: 0 20px 20px 0;
  box-sizing: border-box;
}

.bx-newsdetail-block{
  width: 80%;
}

.sidebar__news-list{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background: #ebeae5;
  a{
    text-decoration: none;
  }
}

.sidebar__news-item{
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #d3d2cd;
  transition: .3s;
}

.sidebar__news-item:hover{
  border-bottom: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 3px 2px -2px #b4b3ae;
  &:before{
    background: #ff4f36;
  }
}

.sidebar__news-item:last-child{
  border-bottom: 1px solid transparent;
}
.sidebar__news-item:before{
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.active-news{
  background: #ff4f36;
  box-shadow: 0 3px 2px -2px gray;
  border-bottom: 1px solid transparent;
  a{
    color: white;
  }
}

.zakaz__service{
  display: flex;
  background: #ebeae5;
  margin: 15px 0;
}

.zakaz__service-left{
  width: 80%;
  margin: 20px;
  box-sizing: border-box;
}

.zakaz__service-right {
  width: 20%;
  align-self: center;
}
.zakaz__service-h{
  font-size: 28px;
  margin: 0;
}
.bx-newsdetail-img{
  img{
    max-width: 100%;
  }
}


.bg__popup-form{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(131, 168, 186, 0.37);
  z-index: 100;
  top: 0;
}
.popup__form{
  background: white;
  margin: 20px auto 0;
  max-width: 520px;
  border: 1px solid #ebeae5;
}

.first__line-popup{
  border-bottom: 1px solid #ebeae5;
  position: relative;
}

.name__usluga-popup{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
}
.close__popup{
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  img{
    width: 30px;
  }
  &:hover{
    img{
      opacity: .5;
    }
  }
}
.form__body{
  padding: 15px;
}

.form__item-popup input,textarea{
  border: 1px solid #ebeae5;
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
}

.form__item-popup textarea{
  resize: none;
}
.form__item-popup{
  display: block;
}

.popup__btn{
  display: inline-block;
  margin: 15px auto 0 0;
}

