@font-face{

  font-family: 'MuseoSansCyrl';

  src: url('../fonts/MuseoSansCyrl.otf');

  font-weight: normal;

  font-style: normal;

}

@font-face{

  font-family: 'MuseoSansCyrl';

  src: url('../fonts/museo_sans_cyrl_500.ttf');

  font-weight: bold;

  font-style: normal;

}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  color: #ff4f36;
  outline: none;
}

a:hover{
  text-decoration: none;
}

p {
  font-size: 14px;
}
//HEADER
.top__news-menu {
  background: #ffe4e6;
  padding: 10px 0;
  font-family: 'MuseoSansCyrl';
}

.top__short-news{
  float: left;
  font-weight: bold;
  font-size: 14px;
}

.top__auth{
  text-align: right;
}

.auth{
  display: inline-block;
}

.top__auth p {
  display: inline-block;
  margin: 0;
}

.header__menu {
  width: 40%;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Georgia', serif;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  text-align: center;
}

.header__menu ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.header__menu ul li {
  list-style-type: none;
  position: relative;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}
.header__menu ul li:after{
  display: inline-block;
  content: "";
  height: 1px;
  width: 30px;
  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 0;
  margin-bottom: -5px;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__menu ul li:hover{
  color: #ff4f36;
  &:after{
    background: #ff4f36;
  }
}

.header__logo{
  width: 22%;
  padding: 0 25px;
}

.header__wrap{
  display: flex;
}

.header__menu-second {
  text-align: center;
}

.logo-main__img {
  background-image: url(../images/sprite.png);
  background-position: -189px -68px;
  width: 67px;
  height: 68px;
  float: left;
}

.header__main-block {
  padding: 24px 0;
}

.logo-main__text p {
  margin: 0;
}
.logo__sub-text{
  font-family: 'MuseoSansCyrl';
  margin-left: 78px !important;
}

.logo__main-text{
  font-size: 24px;
}

.menu__burger {
  display: none;
}
@media screen and (max-width: 998px) {
  .header__menu{
    display: none;
  }
  .menu__burger{
    display: block;
    background: url("../images/burger_menu.png") no-repeat;
    width: 50px;
    height: 50px;

  }
}
@media screen and (max-width: 1140px) {
  .container{
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .top__short-news{
    display: none;
  }
  .top__auth{
    text-align: center;
  }
}

@media screen and (max-width: 788px) {
  .header__logo{
    width: auto;
  }
}
//HOME

.home__banners{
  background: #ebeae5;
}

.home__main-banner{
  height: 366px;
  width: 748px;
}

.banners-block__align{
  display: flex;
  justify-content: space-between;
}

.home__coll-twobanners {
  width: 362px;
}

.home__coll-twobanners .home__banners{
  height: 168px;
}

.product__pre-one{
  width: 20%;
  text-align: center;
  font-family: 'MuseoSansCyrl';
  padding: 5px;
  border: 1px solid transparent;
  margin: 20px 0;
  position:  relative;
}
.pre__img{
  max-width: 100%;
}
.product__pre {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__pre-one:hover {
 border: 1px solid #ebeae5;
}

.pre__category{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  text-decoration: none;
  position: relative;
}

.pre__category:after{
  display: inline-block;
  content: "";
  height: 2px;
  width: 30px;
  background: #ff4f36;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 0;
  margin-bottom: -5px;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.pre__title{
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 20px 0;

}

.pre__sale{
  position: absolute;
  color: #ff4f36;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 15px;
}

.info__block{
  margin-top: 60px;
  background: #f1f8fa;
  font-family: Georgia;
  padding: 30px 0;
  position: relative;
}
.info__block-secondln:before{
  content: "";
  display: block;
  background: url("../images/women2.png") no-repeat;
  width: 261px;
  height: 424px;
  position: absolute;
  bottom: 0;
}


.tit__info-block{
  font-size: 48px;
}

.info__block-firstln, .info__block-secondln{
  display: flex;
  justify-content: space-between;
}

.info__block-secondln{
  margin-top: 60px;
}


.info__preimuchestva{
  width: 20%;
  background: white;
  height: 120px;
  padding: 5px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
}

.info__preimuchestva img{
  height: 72px;
}

.info__preimuchestva:before{
  content: "";
  display: block;
  background: url("../images/bg_cart.png") no-repeat;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
}

.info__block-div{
  width: 50%;
}

.important__text{
  color: #ff4f36;
  display: inline-block;
}

.info__block-right{
  font-size: 14px;
  line-height: 1.5;
}

//FOOTER

.bottom__content{
  margin-top: 20px;
}
.bottom__content-wrap{
  display: flex;
}

.contact__form{
  width: 75%;
  height: 185px;
  background: #ebeae5;
  margin-right: 30px;
  display: flex;
}

.men__photo{
  width: 30%;
  height: 100%;
  position: relative;
}

.men__photo:before{
  content: "";
  display: block;
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 189px;
  height: 216px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -94px;
}

.form__text{
  width: 70%;
}

.form__input{
  display: flex;
}
.widget__vk {
  width: 25%;
}

.footer__logo-img{
  background-image: url(../images/sprite.png);
  background-position: -189px 0px;
  width: 67px;
  height: 68px;
  float: left;
}

.form__title {
  font-size: 28px;
  font-family: 'MuseoSansCyrl';
  margin-bottom: 15px;
}

.input-tel{
  height: 45px;
  border: none;
  border-radius: 4px;
  width: 60%;
  outline: none;
  padding: 0 15px;
  font-family: 'MuseoSansCyrl';
}

.btn__send{
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 14px 25px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl';
  font-weight: bold;
  font-size: 14px;
  background: #ff8170; /* Old browsers */
  background: -moz-linear-gradient(top, #ff8170 0%, #ff523a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff8170 0%,#ff523a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff8170 0%,#ff523a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8170', endColorstr='#ff523a',GradientType=0 ); /* IE6-9 */
  color: #ffff;
}

.btn__send:hover{
  background: #ff523a; /* Old browsers */
  background: -moz-linear-gradient(top, #ff523a 0%, #ff8170 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff523a 0%,#ff8170 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff523a 0%,#ff8170 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff523a', endColorstr='#ff8170',GradientType=0 ); /* IE6-9 */
}

.firs-line__footer {
  display: flex;
  padding: 32px 0;
}

.footer__logo,.footer__social-link {
  width: 25%;
}

.footer__menu {
  width: 50%;
  font-family: 'MuseoSansCyrl';

}

.footer__menu-list{
  list-style-type: none;
  height: 72px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.footer__menu-list li {
  margin-bottom: 8px;
  font-size: 14px;
}

.title__footer {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: 'MuseoSansCyrl';
}

.footer__socia-list{
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.social__icon{
  display: inline-block;
  height: 31px;
  width: 31px;
  margin-right: 5px;
}

.social__icon:hover{
  opacity: .7;
}

.vk__icon {
  background-image: url(../images/sprite.png);
  background-position: -293px -68px;
  width: 31px;
  height: 31px;
}


.fb__icon{
  background-image: url(../images/sprite.png);
  background-position: -256px -68px;
  width: 31px;
  height: 31px;
}

.inst__icon{
  background-image: url(../images/sprite.png);
  background-position: -330px -68px;
  width: 31px;
  height: 31px;
}

.footer__line {
  width: 100%;
  height: 1px;
  background: #ebeae5;
}

.footer__corp {
  margin: 15px 0;
  width: 100%;
  text-align: center;
  font-family: 'MuseoSansCyrl';
  font-size: 14px;
}